BOT_TOKEN=
DATABASE_URL=
ADMIN_IDS=
TRUSTED_IDS=
MAIN_GROUP_ID=
PASS_SOIREE_GROUP_ID=
PASS_TOTAL_GROUP_ID=
VIP_JAVANA_GROUP_ID=
LOG_GROUP_ID=
PUBLIC_BOT_USERNAME=
DEFAULT_VOTE_GOAL=120
DEFAULT_TIME_SLOT=22:30-00:45
AUTO_SCHEDULE_ENABLED=true
TIMEZONE=Europe/Paris
PAYPAL_TEXT=
REVOLUT_TEXT=
CRYPTO_TEXT=
RAILWAY_ENVIRONMENT=production
